<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793594362381-vl7lpjfvabjgncsco25toujqk0unr9ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793594362381-vl7lpjfvabjgncsco25toujqk0unr9ie</string>
	<key>API_KEY</key>
	<string>AIzaSyAbUHsxcvRDXaYPHPtgRJDP4wAdmTg0JJs</string>
	<key>GCM_SENDER_ID</key>
	<string>793594362381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.issey.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firechat-f87f8</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-f87f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793594362381:ios:522728581bd42c93803344</string>
	<key>DATABASE_URL</key>
	<string>https://firechat-f87f8.firebaseio.com</string>
</dict>
</plist>